*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    text-transform: uppercase;
    padding: .5em 1em;
}

h1 {
    font-size: 2.5rem;
    margin: 1em;
    text-align: center;
}

.add {
    display: block;
    margin: 1em auto;
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    font-size: 1.5rem;
    margin: 1em auto;
}

th {
    text-align: left;
}

caption {
    caption-side: bottom;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tbody {
    border: 2px solid black;
}

table * {
    padding: 0.5em 1em;
}

.new-book {
    margin: auto;
}

.new-book::backdrop {
    background-color: hsl(0 0% 0% / .5);
    backdrop-filter: blur(2px);
}

.new-book form {
    padding: 1em;
    margin: 0 1em;
    font-size: 1.3rem;
    display: grid;
    gap: 1em;
    place-items: center;
}

label {
    display: flex;
    flex-direction: column;
    width: 30ch;
}

input,
select {
    font-size: 1.2rem;
    height: 1.5em;
}

.close {
    padding: 2px;
    margin: 0;
    font-weight: bold;
    border: none;
    background-color: canvas;
    position: absolute;
    right: 0;
}

h2 {
    text-align: center;
    margin-top: 1em;
}