*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    margin: 1em;
    text-align: center;
}

table {
    border-collapse: collapse;
    font-size: 1.5rem;
}

th {
    border-bottom: 2px solid black;
    text-align: left;
}

caption {
    caption-side: bottom;
    border-top: 2px solid black;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

table * {
    padding: 0.5em 1em;
}